<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754096441759-e8ufoeqiffg5etb385gsmh832gaeuvde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754096441759-e8ufoeqiffg5etb385gsmh832gaeuvde</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754096441759-6191thdo3ktkdqjnj5jhlpiaillq4spp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBctJdvv7qLm7R37zFQO2Wxfp2mjSJjyC4</string>
	<key>GCM_SENDER_ID</key>
	<string>754096441759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokapp</string>
	<key>PROJECT_ID</key>
	<string>tiktok-camel</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-camel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754096441759:ios:b10c10dd83d93c829e95aa</string>
</dict>
</plist>